<html>
 <head>
  <title>Tworzenie albumu</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <link rel="icon" href="https://www.google.com/photos/about/static/images/picasa/picasa-logo-159.png" type="image/x-icon">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
  </head>
 <body>
  <div class="container">
  <div class="jumbotron" style="background-image: url(https://lh3.ggpht.com/LG8aIactDutHBEf8KU1l7WmiZbBHnDyzBj9RxwU8DBibFM-N8FvyDSk9xMBdbWOkxQQ=h900); background-size: 100%;">
  <center><h1>Towrzenie albumu</h1></center>
  </div>
  <center><p>Dziekujemy za skorzystanie z aplikacji. Twój album został dodany do kolejki.</p></br></center>
  <button type="button" class="btn btn-primary btn-block" onclick="location.href='../';">Powrót</button>
  </div>
 </body>
</html>
